.jersey-10-regular {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.TypingAnimation {
  font-family: VT323, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Display {
  display: flex;
  background-color: #1A93BF;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.Logo {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 10px;
}

.Buttons {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.A-Button-Container {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: flex-end;
}

.A-Button {
  width: 97px;
  height: 95px;
  background-color: black;
  color: #A4A4A4;
  border-radius: 50%;
  text-align: center;
  font-family: VT323;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.B-Button-Container {
  display: flex;
  width: 200px;
  height: 200px;
  justify-content: flex-start;
}

.B-Button {
  width: 97px;
  height: 95px;
  background-color: black;
  color: #A4A4A4;
  border-radius: 50%;
  font-family: VT323;
  text-align: center;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.TextBox {
  display: flex;
  border-radius: 23px;
  border: 12px solid grey;
  background: #F5F2F2;
  width: 730px;
  height: 200px;
  margin: 20px;
  margin-bottom: 20px;
}

.TypingAnimation {
  margin: 10px;
}

.BallAnimation {
  display: flex;
  width: 730px;
  height: 300px;
  margin: 20px;
}

.CenterDisplayComponents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin-left: 40px;
  margin-right: 40px;
}

.Screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 28px;
  border: 12px solid black;
  background: #B9B9B9;
  width: 860px;
  height: 600px;
}